html, body{
    height: 100%;
    overflow: hidden;
}
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 10%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(242, 242, 242);
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.5rem;
    border-bottom: solid rgb(66, 148, 182);
}
.contenedor{
    position: relative;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    background-color: rgb(242, 242, 242);
}
.contenedor1{
    width: 25%;
}
.contenedor2{
    width: 75%;
    /* background-color: rgb(255, 255, 153); */
}
.subdivision{
    position: relative;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    border-left: 1px solid rgb(66, 148, 182);
}
.subdivision2{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    /* border-bottom: 1px solid rgb(66, 148, 182); */
}
.scroll{
    
        padding: 15px;
        overflow: scroll;
}
.scroll::-webkit-scrollbar {
    display: none;
    background-color: lightblue;
  }
#text{
    margin: 1rem;
}
table{
    background-color: rgb(66, 148, 182);
    border: 2px solid rgb(66, 148, 182);;
    border-radius: 8px;
    margin: 1rem 0.4rem 0 0;
}
.tablas{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
thead{
    font-weight: 800;
    color: rgb(242, 242, 242);
}
tbody{
    background-color: rgb(242, 242, 242);
}
tr{
    text-align: center;
}
td{
    border: 2px solid rgb(242, 242, 242);
    font-size: 0.8rem;
    padding: 0 1rem; 
}
button{
    margin: 10px;
    padding: 5px 15px;
    font-size: 2rem;
    border: 0;
    background-color: rgb(44, 182, 99);
    color: rgb(242, 242, 242);
    border-radius: 5px;
    cursor: pointer;
}

img{
    position: absolute;
    width: 75%;
    border: solid rgba(0, 0, 0, 0.6);
}
#img2{
    display: none;
}