.container{
    border: 5px solid black;
    margin: 6rem;
}
.container{
    display: grid;
    /* grid-template-rows: 100px 100px 100px 100px 100px 100px; */
    grid-template-rows: 100px 300px 100px;
    grid-template-columns: repeat(5, 1fr); 
    /* 1 fr = una fraccion */
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));  */
    grid-template-areas: 
    'item1 item1 item1 item1 item5'
    'item2 item2 item3 item3 item5'
    'item2 item2 item4 item4 item4';
    /* Centrar los items
    align-items: center;
    justify-items: center; */
}
.item{
    background-color: rgb(80, 20, 178);
    padding: 1rem;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 4px solid rgb(43, 0, 136);
    text-align: center;
    font-weight: bold;
}
.item-1{
    /*Espacio manualmente*/
    /* grid-row: 1/3   ; 
    grid-column: 1/3;  */
    grid-area: item1;
}
.item-2{
    /*Espacio manualmente*/
    /* grid-row: span 1; 
    grid-column: span 3; */
    grid-area: item2;
}
.item-3{
    grid-area: item3;
    
}
.item-4{
    grid-area: item4;
    align-self: center; /*Centrar item idependiente vertical*/
    justify-self: center; /*Centrar item idependiente horizontal*/
}

.item-5{
    grid-area: item5;
}